.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1720px;
}

.title-wrapper {
  width: 100%;
  text-align: center;
  border: 10px solid #1a428a;
  display: block;
  font-size: 40px;
}



.form-wrapper {
  display: flex;
  width: 100%;
  background: #1a428a;
  padding: 20px;
  border: 10px solid #1a428a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.input-group {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.input-group input {
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50% !important;
  border: 5px solid #e9be6c;
  text-align: center;
  font-size: 6vw;
  color: #1a428a;
  font-weight: bold;
  caret-color: #E0E0E0
}

.input-circle {
  font-size: 4vw;
}

@media (max-width: 600px) {
  .form-wrapper {
      flex-direction: column;
      align-items: center;
  }
  
  .left-column,
  .right-column {
      flex-direction: column;
      align-items: center;
  }
  
  .input-group {
      justify-content: center;
  }
  
  .input-group input {
      font-size: 6vw;
      max-width: 120px;
  }
}


